#ignore below pattern,  with exceptions
*.DS_Store
*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
!target/*.jar
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
.idea
*.iml
