#ignore pattern: https://linuxize.com/post/gitignore-ignoring-files-in-git/
*.DS_Store
*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
#ignore all subfolders, but not the files under
**/target/*/
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
.idea
*.iml
